{% extends "base.html" %}
 {% block content %}
    <!-- Start about Area--> 
        <section class="feature-area section-gap" id="secvice"> 
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center"> 
                        <h1 class="mb-100">{{ newsdetail.news_title }} </h1>
                    </div>    
                    <div class="single-info row" style="font-size: 30px;">
                       {{newsdetail.news_desc}}
                    </div>
                     
                </div>
            </div>
        </div>
        <section>
     {% endblock  %}